// components/SimpleCard/SimpleCard.module.scss

.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  text-align: start;
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 75%; /* 4:3 aspect ratio (height / width * 100%) - Adjust if your images have different aspect ratios */
  // Or use a fixed height if preferred: height: 200px;
  overflow: hidden;
  background-color: #f0f0f0; // Placeholder background
}

.iconOverlay {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: white;
  padding: 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  svg {
    width: 24px;
    height: 24px;
  }
}

.cardImage {
  object-fit: cover;
}

.content {
  padding: 16px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allows content to take up remaining space */
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 12px; /* Add some space before bullet points */
  line-height: 1.2rem;
  white-space: pre-line; /* Preserves newlines and line breaks */
}

.bulletPoints {
  font-size: 0.85rem;
  color: #666;
  margin: 0;
  padding-left: 16px;
  line-height: 1.4; /* Tighter line height for bullet points */

  li {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
