@use "../../styles/colors" as *;

.header {
  background-color: $color-text-light;
  border-bottom: 1px solid #eaeaea;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  text-decoration: none;
  color: #4a5568;
  font-weight: 500;
  transition: color 0.2s ease;
  font-size: 18px;

  &:hover {
    color: $color-primary-start;
  }
}
